.container{
    background-image: url("assets/images/background.webp");
}

.header{
    max-height: 220px;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.nav-head{
   text-align:center;
   font-size: 16px;
}

.footer-img{
    max-width: 100%;
    width: 100%;
}