.container{
    background-image: url("images/background.webp");
}

.header{
    max-height: 220px;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.nav-head{
   text-align: center;
   font-size: 16px;
}

.main-head{
    text-align: center;
    font-size:32px;
}

.sub-head-1{
    text-decoration: underline;
    text-align: center;
    font-size:24;
}

.container-graphics  { 
    text-align: center; 
}

.java01{
    float:left;
    max-width:  290px;
    width: 100%;
    min-height: 190px;
    height:100% ;
    margin: 0px;
}

.adobe-para{
    max-width:1400px ;
    width: 100%;
    text-align: left; 
    margin: 0px; 
    font-size: 16px;
}

.draw-para{
    max-width:1400px ;
    width: 100%;
    text-align: left; 
    margin: 0px; 
    font-size: 16px;
}

.illustrator-para{
    max-width:1400px ;
    width: 100%;
    text-align: left; 
    margin: 0px; 
    font-size: 16px;
}

.illustrator-para b, .draw-para b, .adobe-para b {
    text-decoration: underline; 
}

.sub-head-2{
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
}

.html01{
    float:right;
    max-width:300px ;
    width:100% ;
    min-height: 220px ;
    height:100%;
    margin: 0px;
}

.html-para-1,.html-para-2 , .html-para-3 {
    max-width:1120px ;
    width:100% ;
    text-align: left; 
    margin: 0px; 
    font-size: 16px;
}

.html-para-1 b,.html-para-2 b, .html-para-3 b{
    text-decoration: underline; 
}

.line-break
{
    opacity: 0;
    margin: auto;
    min-height: 15px;
    height: 100%;
}

.bold{
    font-weight:bold;
}

.footer-img{
    max-width: 100%;
    width: 100%;
}