.container{
    background-image: url("assets/images/background.webp");
}

.header{
    max-height: 220px;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.nav-head{
   text-align: center;
   font-size: 16px;
}

.main-head{
    color:#008c8c;
    text-decoration: underline;
    text-align: center;
}

.gallery{
    text-align: center;
}

.sea, .butterfly, .html01, .java01{
    max-width: 250px;
    width: 100% ;
    min-height: 200px;
    height: 100%;
    border:5px solid blue;
}

.footer-img{
    max-width: 100%;
    width: 100%;
}