.container{
    background-image: url("assets/images/background.webp");
}

.header{
    max-height: 220px;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.nav-head{
   text-align: center;
   font-size: 16px;
}

.main-head{
    text-decoration: underline;
    text-align: center;
}

.img-sea{
    float:left;
    max-width:300px ;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border: 5px solid black;
}

.img-butterfly{
    float:right;
    max-width:300px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border: 5px solid black;
}

.home-page-content{
    display: inline-block; 
    max-width: 780px;
    width: 100%;
    text-align: left; 
    margin: 0; 
    font-size: 16px;
}

.sub-head{
    text-decoration: underline;
}

.footer-img{
    max-width: 100%;
    width: 100%;
}